body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-banner{
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
}
.container-flex{
    display: flex;
    padding: 0 10%;
}
.half-width{
    width: 50%;
    margin-top:10%;
}
.text-hello{
    font-size: 40px;
    color: white;
}
h1{
    font-size: 50px;
}
.span-prokash{
    color: white;
}
.sh-coch{
    color: orange;
}
.full-stack{
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: bold;
}
.link-button{
    color: white;
    text-decoration: none;
    padding: 7px 30px;
    border-radius: 40px;
    background-image: linear-gradient(blue,orange);
}
 img{
    width: 80%;
    border-radius: 50%;
}
.style-prokash{
    width: 80%;
    border-radius: 50%;
}
.about-me{
    font-size: 40px;
    color: black;
}
.paragrapch{
   font-size: 20px;
   font-weight: 400;
}
.container-in{
    text-align: center;
    width: 60%;
    margin: auto;
}
.Special-in{
    font-size: 40px;
}
.box-flex{
    display: flex;
    padding: 0 12%;
}
.box-modle{
    width:20%;
    padding:50px;
    margin: 3%;
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan) 0 100%;
    box-shadow: 0 8px 33px -4px black;
    border-radius: 0 14px 40px 0;
}
footer p{
    margin-top: 5%;
    text-align: center;
    color: silver;
    font-size: 15px;
}
